/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the colocWrapper colocalisation pipeline.
 * ---------------------------------------------------------------------------
 */

params {
  cis_window = 200000
  gwas_type = "GWASCatalog"
  gwas_min_logp = 5
}
